<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/assets/lib/bootstrap.min.css">
	<script src="/assets/lib/jquery-2.0.0.min.js"></script>
	<script src="/assets/lib/bootstrap.min.js"></script>

    <title>Burger App</title>
</head>
<body>
    <div class="container">
		<h1 class="text-center">Eat-Da-Burger!</h1>
	</div>

	<form action="/create" method="post" role="form">
		<div class="form-group">
			<label for="">Add a Burger to the list below:</label>
			<input type="text" class="form-control" id="burger" name="burger_name">
		</div>
		<button type="submit" class="btn btn-lg btn-primary submit center-block">Submit</button>
	</form>
</body>
<footer>
	
</footer>
