<div id="main-content" class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4"><h1>Eat Da Burger</h1></div>
	</div>

	<div class="row">
		<div id="to-eat" class="col-sm-4 col-sm-offset-1"> List of all burgers not yet eaten:
		<ul>
			{{#each notEaten}}
				<li>{{burger_name}}
					<form action="/update?_method=PUT" method="POST" class="button-size">
					<input type="hidden" name="id" value="{{this.id}}">
  					<button type="submit">Devour!!!</button>
					</form>
					</li>
			{{/each}}
		</ul>
		</div>

		<div id="eaten" class="col-sm-4 col-sm-offset-2"> List of all burgers eaten, not necessarily enjoyed:
			<ul>
			 	{{#each eaten}}
			 		<li>{{burger_name}}</li>
			 	{{/each}}
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4 col-sm-offset-4"><h3>Create A Burger</h3></div>
	</div>
	<!-- {{! Form should send a post command to the server}} -->
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4"><h5>Burger Name</h5></div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<form class="create-form" method="POST" action="/create">
	 		<div class="form-group">
	    	<textarea type="text" id="name" name="burger" rows="3" cols="30"></textarea>
			</form>
	  	<button type="submit" id="submit">Create your burger!</button>
	  	</div>
	</div>
</div>

<script type="text/javascript">
	//$('#submit').on('click', function(){
		//console.log($('#name').val());
	//});
</script>